In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\jmadh\Documents\retech\IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [7]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X=df[['sepal_length','sepal_width','petal_length','petal_width']]
y=df['species']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [10]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
3             4.6          3.1           1.5          0.2
98            5.1          2.5           3.0          1.1
135           7.7          3.0           6.1          2.3
2             4.7          3.2           1.3          0.2
138           6.0          3.0           4.8          1.8
..            ...          ...           ...          ...
83            6.0          2.7           5.1          1.6
88            5.6          3.0           4.1          1.3
30            4.8          3.1           1.6          0.2
84            5.4          3.0           4.5          1.5
51            6.4          3.2           4.5          1.5

[120 rows x 4 columns]

In [11]:
y_train

3          Iris-setosa
98     Iris-versicolor
135     Iris-virginica
2          Iris-setosa
138     Iris-virginica
            ...
83     Iris-versicolor
88     Iris-versicolor
30         Iris-setosa
84     Iris-versicolor
51     Iris-versicolor
Name: species, Length: 120, dtype: object

In [12]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
19            5.1          3.8           1.5          0.3
125           7.2          3.2           6.0          1.8
132           6.4          2.8           5.6          2.2
94            5.6          2.7           4.2          1.3
22            4.6          3.6           1.0          0.2
1             4.9          3.0           1.4          0.2
37            4.9          3.1           1.5          0.1
8             4.4          2.9           1.4          0.2
108           6.7          2.5           5.8          1.8
117           7.7          3.8           6.7          2.2
111           6.4          2.7           5.3          1.9
105           7.6          3.0           6.6          2.1
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
65            6.7          3.1           4.4          1.4
141           6.9          3.1           5.1          2.3
55            5.7          2.8           4.5          1.3
123           6.3          2.7           4.9          1.8
115           6.4          3.2           5.3          2.3
43            5.0          3.5           1.6          0.6
140           6.7          3.1           5.6          2.4
17            5.1          3.5           1.4          0.3
14            5.8          4.0           1.2          0.2
73            6.1          2.8           4.7          1.2
28            5.2          3.4           1.4          0.2
148           6.2          3.4           5.4          2.3
41            4.5          2.3           1.3          0.3
147           6.5          3.0           5.2          2.0
38            4.4          3.0           1.3          0.2
126           6.2          2.8           4.8          1.8

In [13]:
y_test

19         Iris-setosa
125     Iris-virginica
132     Iris-virginica
94     Iris-versicolor
22         Iris-setosa
1          Iris-setosa
37         Iris-setosa
8          Iris-setosa
108     Iris-virginica
117     Iris-virginica
111     Iris-virginica
105     Iris-virginica
12         Iris-setosa
13         Iris-setosa
65     Iris-versicolor
141     Iris-virginica
55     Iris-versicolor
123     Iris-virginica
115     Iris-virginica
43         Iris-setosa
140     Iris-virginica
17         Iris-setosa
14         Iris-setosa
73     Iris-versicolor
28         Iris-setosa
148     Iris-virginica
41         Iris-setosa
147     Iris-virginica
38         Iris-setosa
126     Iris-virginica
Name: species, dtype: object

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf= KNeighborsClassifier(n_neighbors=6)

clf.fit(X,y)

y_pred=clf.predict(X_test)
score=accuracy_score(y_test,y_pred)
print(score)

1.0